<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- Email Keys -->
    <add key="sendMail" value="true"/>
    <add key="smtpServer" value="gwiaint.health.qld.gov.au"/>
    <add key="emailFromAddress" value="bradley_j_smith@health.qld.gov.au"/>
    <add key="regexEmail" value="\w+(['-+.]*\w+)(['])*@\w+([-.]\w+)*\.\w+([-.]\w+)*"/>
    <!-- End Email Keys -->
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
